body {
    background: #666;
}
h1 {
    font-size: 120px;
    text-align: center;
    font-family: 'Rye', cursive;
    margin-top: 50px;
    letter-spacing: -5px;
    color: black;
    text-transform: lowercase;
    text-shadow: 0 1px 0 white;
}